* {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

ol,
ul {

    list-style: none;
}

/*_______________________HEADER________________________*/
nav h1 {
    color: aliceblue;
    width: 44px;
    height: 2px;
    padding-left: 44px;
}


header {
    color: white;
    justify-content: space-around;
    height: 50px;
    padding-top: 20px;
    margin-bottom: 50px;
    letter-spacing: 2px;
}



nav ul {
    display: flex;
    justify-content: center;
    text-align: center;

}

header li a {

    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin: 0 12px;
}

header li a:hover {
    color: rgb(13, 5, 251);
}

.s-media {
    display: flex;
    justify-content: right;
    margin: 0 50px;
    margin-top: -10px;

}

.s-media i {
    margin: 0 10px;
    font-size: 20px;
}


/* ______________________MAIN SECTION____________________ */

.container {
    height: 880px;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
}

h2 {
    color: rgb(49, 49, 49);
    font-size: 55px;
}

/* --flex inside page 1-- */

.art h2 {
    margin-bottom: 25px;
}

p {
    font-size: 18px;
}

.search input {
    border: none;
    width: 255px;
    height: 50px;
    padding: 15px;
    border-radius: 55px;
}

.search .init {
    height: 15px;

}

.search .sub {

    padding-top: 9.5px;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    height: 39px;
    width: 90px;
    margin-left: -97px;
    border: none;
}

iframe {
    display: flex;

    width: 500px;
    height: 400px;
    margin-right: 165px;
}

.art {
    width: 550px;
    height: 430px;
}

/*-- flex right-- */

.cat {
    width: 40%;
}

.cat iframe {
    width: 650px;
    height: 500px;
}


article {
    display: flex;
    justify-content: center;
}


/*____________________PRODUCTS__________________________*/
.Prouduct {
    text-align: center;
    padding: 2px;
    height: 400px;
    margin-top: 22px;
    margin-bottom: 200px;
}

.wordp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
    color: white;




}



.boxes i {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.bow1 {
    height:  350px;
    width: 500px;
    padding: 35px;
    padding-top: 22px;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    border-radius: 10px;
}

.bow2 {
    width: 500px;
    height:  350px;
    padding: 35px;
    padding-top: 22px;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    border-radius: 10px;
}

.bow3 {
    width: 500px;
    height:  350px;
    padding: 35px;
    padding-top: 22px;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    border-radius: 10px;
}

/*________________________PERSONS________________________*/
.persons {
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-bottom: 200px;
    filter: grayscale(100%);
}

.persons #per1 {
    border-radius: 150px;
    width: 250px;
}

.persons #per2 {
    border-radius: 150px;
    width: 250px;
}

.persons #per3 {
    border-radius: 150px;
    width: 250px;
}

.persons #per4 {
    border-radius: 150px;
    width: 250px;
}



/*_______________________PARALLAX________________________*/
.inside-tag {
    padding: 22px;
    text-align: center;

}

.parallax-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top : 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.parallax-text a {
    text-decoration: none;
}

.parallax-text h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.parallax-text h3 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.51);
}

.container-parallax {
    position: relative;
}

.background {
    filter: brightness(50%);
    background-image: url('./img/parallax.png');
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.text-background h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 150px;
    filter: none;
}

.text-background h3 {
    color: rgba(49, 49, 49, 0.487);
    text-align: center;
    margin-top: 30px;
}

.section4 input {
    display: flex;
    outline: none;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    padding: 15px 25px;
    text-align: center;
    margin: 40px auto;
    font-weight: 600;
    font-size: 15px;
}

.section4 input:hover {
    cursor: pointer;
}


.div-mini-icon+.container-icon {
    display: none;
    transition: 5s
}



/* _________________TEAMS_________________ */
.team-margin {
    overflow: hidden;
}

.resize-img:hover {
    filter: grayscale(0%);
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.1);
}

.team-img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.container-icon {
    display: flex;
    flex-direction: column;

}

.container-icon:hover {
    cursor: pointer;
}

.resize-img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    filter: grayscale(100%);
    transition: 0.5s;

}

.mini-icon {
    display: none;
    position: absolute;
    z-index: 3;
    width: 20px;
    /* height: 20px; */
    font-size: 18px;
    color: black;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    top: -30px;
    left: -30px;
    /* transform: translate(0, 0); */
}

.container-icon:hover .mini-icon {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s;
}

.container-icon:hover .mini-icon:nth-child(1) {
    top: 30px;
    left: 10px;
    transform: translate(0, 20px);
}

.container-icon:hover .mini-icon:nth-child(2) {
    top: 30px;
    left: 10px;
    transform: translate(0, 50px);
}

.container-icon:hover .mini-icon:nth-child(3) {
    top: 30px;
    left: 10px;
    transform: translate(0, 80px);
}


.team-text {
    text-align: center;
    font-size: 22px;
}

.team-text h3 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 38px;
}

.team-text p {
    font-size: 15px;
    margin-bottom: 100px;
    line-height: 25px;
}

.team-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    text-align: center;
}

.team-margin h3 {
    font-size: 25px;
    color: rgb(49, 49, 49);
    margin-top: 30px;
}

.team-margin p {
    font-size: 15px;
    color: rgba(49, 49, 49, 0.487);
    margin-top: 10px;
    margin-bottom: 20px;
}


.mini-icon:hover {
    cursor: pointer;
}


.mini-icon i {
    border-radius: 100%;
    padding: 5px 5px;
    background-color: rgb(255, 255, 255);
    /* background-color: blueviolet;
    display: block;
    position: relative; */
}

/* ________________BLOG______________ */

.blog {

    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.blog-container {
    width: 400px;
    transition: 0.8s;
    text-align: left;
}

.blog-container h3 {
    color: rgb(45, 45, 45);
    margin-top: 30px;
}

.blog-container p {
    color: rgba(49, 49, 49, 0.487);
    margin: 20px 0;
}

.blog-container a {
    text-decoration: none;
    color: rgb(0, 137, 164);
    margin-top: 15px;
}

.blog-container img {
    transition: 0.5s;
}

.blog-container img:hover {
    filter: brightness(50%);
    transition: 0.5s;
}

.blog1 {
    margin-left: 200px;
}

.blog3 {
    margin-right: 200px;
}

.blog-square img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    filter: none;
}

/* ________________PRICING______________ */






/* ______________footer_________________ */

.footer {
    height: 300px;
    margin-top: 150px;
    position: inherit;
}

.footer-icon {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    padding-top: 100px;
}

.footer-icon i {
    border: 1px solid white;
    border-radius: 100%;
    padding: 10px 10px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.footer-text {
    color: white;
    display: flex;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
}

.barre {
    margin: 0 20px;
}

.footer-copyright {
    color: white;
    display: flex;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;

}

.footer a {
    text-decoration: none;
    color: white;
}

input:hover {
    cursor: pointer;
}



/* ________________BOTTOM_______________ */
#scrollTop {
    position: fixed;
    bottom: 6vw;
    right: 5vh;
    border-color: rgb(60, 97, 23);
    background: rgb(174, 177, 8);
    color: rgb(206, 219, 19);
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 3vh;
}

/* ________________pricing______________ */
.chp {
    background-color: #1294b8;
     width: 35%;
    margin: 0 auto;
    padding: 20px; 
    
    
    color: white;
    
}


.pricingimg {
    display: flex;
    justify-content: right;
}


.numuc {
    justify-content: center;
}




.num {
    display: flex;
    text-align: right;

}

.uc {
    display: flex;
    justify-content: ;
}


/* .containerpricing{
    margin: 0px;
   margin-left: 650px;
width: 50%;
justify-content:center ;
align-items: center;
} */



.containerourpricing {
    background-color: #F5F5F5;

    width: 35%;
    margin: 0 auto;

    padding: 20px;
}

.ourpricing {
    text-align: center;
}

.underpricingp {
    text-align: center;
}

.pricingimg img {
    display: flex;

    margin-top: -205px;
    width: 250px;
}

/* span{
    font-size: 40px;
}
sub{
 font-size: 15px;
} */

.tablue123 {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 100px;

}


.tablue1 {


    border-radius: 5px;
    background-color: #FFFFFF;

    padding: 20px;
}

.tablue2 {

    border-radius: 5px;
    background-color: #FFFFFF;

    padding: 20px;
}

.tablue3 {

    border-radius: 5px;
    background-color: #FFFFFF;

    padding: 20px;
}


.tablue1 .bandwidth {
    display: flex;
    justify-content: space-between;
}

.tablue1 .onlinespace {
    display: flex;
    justify-content: space-between;
}

.tablue1 .domain {
    display: flex;
    justify-content: space-between;
}

.tablue1 .supportno {
    display: flex;
    justify-content: space-between;
}

.tablue1 .hiddenfees {
    display: flex;
    justify-content: space-between;
}

/*________________________________*/



.tablue2 .bandwidth {
    display: flex;
    justify-content: space-between;
}

.tablue2 .onlinespace {
    display: flex;
    justify-content: space-between;
}

.tablue2 .domain {
    display: flex;
    justify-content: space-between;
}

.tablue2 .supportno {
    display: flex;
    justify-content: space-between;
}

.tablue2 .hiddenfees {
    display: flex;
    justify-content: space-between;
}

/*_________________________________*/


.tablue3 .bandwidth {
    display: flex;
    justify-content: space-between;
}

.tablue3 .onlinespace {
    display: flex;
    justify-content: space-between;
}

.tablue3 .domain {
    display: flex;
    justify-content: space-between;
}

.tablue3 .supportno {
    display: flex;
    justify-content: space-between;
}

.tablue3 .hiddenfees {
    display: flex;
    justify-content: space-between;
}